.main {

    width: 100%;
    height: 100%;
    background: #EEF6F5;
    border-radius: 30px;
    /* padding-bottom: 30px; */
    background: linear-gradient(89.81deg, #28397E 1.33%, #46A39D 99.98%);
}

.profileHeader {
    /* padding: 30px; */
    box-sizing: border-box;
    /* border-bottom: 1px solid #DDECEA; */
    ;
}

.left {
    margin-left: 12px;
}

.name {
    /* position: absolute; */
    width: 217px;
    height: 20px;
    left: 188px;
    top: 189px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;

}

.noDataCard{
    
background: #FFFFFF;
border-radius: 20px;
height: 10rem;
}

.profile {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 600;
 font-size: 25px; */



    width: 150px;
    height: 20px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;



    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #2D514F;
}

.secondheader {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    border-radius: 20px;

    padding: 30px 30px 30px 30px;
    background: linear-gradient(89.81deg, #28397E 1.33%, #46A39D 99.98%);
}

.body {
    padding-left: 25px;
    padding-right: 24px;
    padding-top: 29px;
    padding-bottom: 25px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgb(84 155 165 / 15%);
    border-radius: 20px;

}

.summary {

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.information {

    height: auto;
    /* background: #F5FAF9; */
    border-radius: 15px;


}

.educationSumaryheading {
    color: #91a5a4;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;

    align-items: center;
    /* white-space: nowrap; */

}

.educationSummaryValue {
    color: #2D514F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

}

.bbottom {
    box-sizing: border-box;
    min-height: 4.5rem
        /* border-bottom: 1px solid #DDECEA; */
    ;
}

.cardHead {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #2D514F;

}

.mainHeader {
    /* padding-left: 25px; */

    height: 100%;
    /* padding-right: 24px; */
    /* padding-bottom: 16px; */
    /* background-color: #EEF6F5; */
}

.spoken {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 23px;
    padding-bottom: 10px;
}

.education {

    height: auto;
    /* background: #F5FAF9; */
    border-radius: 15px;


}



.file {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-upload {
    display: flex;
    padding-top: 45px;
    justify-content: flex-end;
}
.file-upload-h6{
    color: white;
    width: 166px;
    height: 19px;
    left: 1374px;
    top: 257px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    font-size: 14px;
}
section {
    margin-bottom: 20px;
}

.email {
    width: 205px;
height: 19px;
left: 234px;
top: 257px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;    

}

.file-name {
    align-items: center;

    color: #2D514F;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.file-date {
    width: 119px;
    height: 19px;
    left: 189px;
    top: 228px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: rgba(255, 255, 255, 0.5);

}

.summaryValueContainer {
    display: flex;
    padding-top: 20px;
    padding-left: 23px;
    padding-right: 23px;
    /* padding-bottom: 20px; */
}

/* th {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: rgba(9, 17, 50, 0.5);
} */

.tableButton {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #549BA5;
}

.tableHead {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: rgba(9, 17, 50, 0.5);
}

/* td {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #091132;
} */

P {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;

    font-size: 20px;


    align-items: center;
    text-transform: uppercase;

    color: #2D514F;
}

.headingIcon {
    display: flex;
    /* height: 1rem; */
    justify-content: space-between;
    margin-bottom: 1rem;
}

th {

    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: rgba(45, 81, 79, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* display: flex; */
    align-items: center;
}

td {

    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #2D514F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* display: flex; */
    align-items: center;
}

.tableBottom {
    border-bottom: 1px solid #DDECEA;
}

.leftBox {
    height: 100%;
    width: 100%;
    margin-right: 12px;
}

.rightBox {
    height: 100;
    width: 100%;
    margin-left: 12px;
}

.external-profiles {
    display: flex;
}

.profile2 {
    margin-right: 20px;
    min-width: 125px;
    background: #F5FAF9;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    height: 50px;

    
}








.fillColor {
    /* --sds-c-icon-color-foreground-default: cadetblue; */
    display: inline-block;
    background: cadetblue;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px cadetblue, 0px 0px 0px 3px white, 0px 0px 0px 5px cadetblue;
    width: 6px;
    height: 6px;
    margin-left: 3%;
}

.grayColor {
    display: inline-block;
    background: gray;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px gray;
    width: 6px;
    height: 6px;
    margin-left: 3%;
}

.blueColor {
    display: inline-block;
    background: cadetblue;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px cadetblue;
    width: 6px;
    height: 6px;
    margin-left: 3%;
}

@media (max-width: 768px) {
    .summary {
        flex-direction: column;
    }

    .leftBox {
        margin-right: 0;
    }

    .rightBox {
        margin-top: 10px;
        margin-left: 0;
    }

    .left {
        margin-left: 0px;
    }

}

@media (max-width: 550px) {
    .external-profiles {
        flex-direction: column;
    }

    .profile2 {
        margin: 5px 0;
    }

    p {
        font-size: 16px;
    }

    .educationSummaryValue {
        overflow: auto;
    }

}