.cont{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color: white;
}

.mainContainer{
    background-color: #eef6f5;
    height: 100%;
    width: 100%;
    
    border-radius: 30px;
}

.jobHeader{
 border-bottom: 1px solid #DDECEA;
 padding: 15px;
 padding-left: 20px;
 padding-top: 30px;
 padding-right: 30px;

}

.information{
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    /* display: flex; */
    align-items: center;
    text-transform: uppercase;
    
    color: #2D514F;
}