@font-face {
  font-family: 'MontserratLight';
  src: url(/s/sfsites/c/resource/Montserrat/static/Montserrat-Light.ttf) format('TrueType');
}

@font-face {
  font-family: 'MontserratRegular';
  src: url(/s/sfsites/c/resource/Montserrat/static/Montserrat-Regular.ttf) format('TrueType');
}

@font-face {
  font-family: 'RobotoLight';
  src: url(/s/sfsites/c/resource/roboto/Roboto-Light.ttf) format('TrueType');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url(/s/sfsites/c/resource/roboto/Roboto-Medium.ttf) format('TrueType');
}

.headingFont {
  font-family: MontserratLight;
  color: #091132;
}

.subheadingFont {
  font-family: MontserratRegular;
  color: #091132;
}

.bodyFont {
  font-family: RobotoLight;
  color: #848898;
}

.lineCalloutFont {
  font-family: RobotoMedium;
}

.mainBody {
  font-family: 'RobotoLight';
  margin: auto;
  background: #f4f5f5;
  overflow-x: hidden;
  border-bottom: 3px solid lightgray;
  padding: 0px 20px;
}

.bestMatchHeader {
  display: flex;
  border-top-left-radius: 20px;
  justify-content: space-between;
  background-image: linear-gradient(to right, #28397E, #264281, #274A84, #2B5286, #315987);
  margin-top: 10;
  height: 48px;
  border-radius: 20px 0px 0px 0px;
}

.mainchildbody {

  background: green;
  border-top-right-radius: 20px;
  height: 141px;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

th {
  font-size: 12px;
  color: #939d9c;
  font-weight: 400;
  padding-right: 35px;
}

td {
  font-size: 12px;
  font-weight: 600;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.HeaderTabs {
  text-align: center;
  display: flex;
  padding: 0px 5px;
  cursor: pointer;
}

.HeaderTabs:hover>.imgText h1,
.HeaderTabs:hover>.imgText p {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;

}

.headertwoComboBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #e6eaea;
  border-radius: 20px 20px 0px 0px;
  margin-top: 10px;
  overflow: hidden;
}

.leftIcon {
  display: flex;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fontChange {
  font-family: 'MontserratLight';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

.changeTeacher {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  /* text-align: right; */

  color: #549BA5;
}

.combobox {
  font-family: 'RobotoLight';
  display: flex;
  padding-left: 15px;
  flex-wrap: wrap;
  width: calc(100% - 165px);
  overflow: hidden;
}

.combobox::-webkit-scrollbar {
  height: 5px;
}

.combobox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.combobox::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.moreFilterBtn {
  text-decoration: none;
  color: #549BA5;
  padding: 10px 0px 10px 15px;
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.ClearBtn {
  text-decoration: none;
  color: #549BA5;
  padding: 10px 15px;
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.my-icon {
  --sds-c-icon-color-foreground-default: green;
  --sds-c-icon-color-background: #c9f8f1;
}

.my-cystom-input {
  --sds-c-input: 2px solid #5FA19C;
  --sds-c-input-color-border: transparent;
  --lwc-borderWidthThin: 2px;
  --slds-c-input-color-background: #e6eaea;
  --slds-c-input-radius-border: 20px;
  margin-top: -4px;
}

.userList {
  width: 400px;
}

.childScreen {
  width: calc(100% - 400px);
}

.headerTabsOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.tabs {
  display: flex;
  grid-column-gap: 10px;
  align-items: center;
  justify-content: space-around;
  width: max-content;
}

.tabs img {
  height: 25px;
}

.jobListInput {
  background: transparent;
  border-radius: 20px;
  cursor: pointer;
  padding-left: 10px;
  font-weight: bold;
  font-size: 25px;
  box-shadow: none;
}

.bars {
  font-size: 16px;
  padding: 18px 0px 0px;
  margin-right: 10px;
  display: none;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
}


.compactView {
  background: white;
  z-index: 3;
  width: 100%;
  margin: auto;
  background-color: white;
  transition: all 0.3s;
  border-radius: 15px;
  overflow-x: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.compactViewHeader {
  width: max-content;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #325B88, #325B88, #1F6E94, #28929E, #46A29D);
  color: white;
  padding: 10px;
  min-width: 100%;
}

.allFieldHeads {
  display: flex;
  width: calc(100% - 60px);
  justify-content: space-between;
}

.allFieldsValues {
  display: flex;
  width: calc(100% - 60px);
  justify-content: space-between;
}

.compactViewHeader p,
.compectViewRow p {
  text-align: center;
  padding: 7px 0px;
}

.compectViewRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #88bfb8;
}

.compectViewButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 1000px;
  padding: 0px 10px;
}

.btns {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding-right: 10px;
}

.compectViewData {
  width: max-content;
  min-width: 100%;
  overflow-y: auto;
  padding: 10px;
}

.compectViewButtons lightning-icon {
  --sds-c-icon-color-foreground-default: #fff;
  margin-right: 5px;
}

.compectViewButtons .toggleButton lightning-icon {
  margin-right: 0px;
}

.compectViewButtons .compectViewButtonsBtn {
  background: #549BA5;
  margin: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 15px;
}

.toggleButton {
  width: 30px;
  height: 30px;
  background: #448983;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
}

.toggleButton lightning-icon {
  --sds-c-icon-color-foreground-default: white;
  margin-top: 7px;

}

.compectViewTabArea {
  display: none;
  width: 100%;
  overflow: overlay;
  /* display: flex; */
  padding: 0px 10px;
  background-image: linear-gradient(to right, #325B88, #325B88, #1F6E94, #28929E, #46A29D);
  min-width: 1000px;
}

.compectViewTabArea::-webkit-scrollbar {
  height: 5px;
}

.compectViewTabArea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.compectViewTabArea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.tableTab,
.tab {
  display: flex;
  margin: 10px 3px 0px 3px;
  z-index: 1;
  padding: 10px 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  min-width: max-content;
  color: white;
}


.header {
  display: flex;
  padding: 20px 20px 10px;
  justify-content: space-between;
}

.backBtn lightning-icon {
  --sds-c-icon-color-foreground-default: #5FA19C;
}

.backBtn {
  display: none;
  margin-right: 10px;
  margin-top: -5px;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.icons {
  background-color: #fff;
  padding: 2px;
  border-radius: 7px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 15px;
  cursor: pointer;
}


.fullNameCss {
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #091132;
}

.emailPreviewcss {
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #549BA5;
}

.basicInfoCss {
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.textCss {
  font-family: 'RobotoLight';
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #2D514F;
}

.seekingPositionTab {
  font-family: 'RobotoLight';
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 15px;
}

.seekingPositionTabHeader {
  font-family: 'RobotoLight';
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #2D514F80;
  border-bottom: 1px solid lightgrey;
}

.seekingPositionData {
  font-family: 'RobotoLight';
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #2D514F;
  border-bottom: 0.5px solid lightgrey;
}

.basicInfo,
.education {
  padding-bottom: 13px;
  width: 50%;
  text-align: left;
  border-radius: 15px;
  margin: 2px;
}

.basicInfo {
  padding-right: 5px;
}

.education {
  padding-left: 5px;
}


.active {
  background: white;
  color: black;
}

.morefiltersModal,
.morefiltersModalOverlay {
  display: none;
}

.morefiltersModal {
  position: absolute;
  width: 90%;
  max-width: 1000px;
  left: calc(50% - 500px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: white;
  padding: 20px;
  top: 10vh;
  z-index: 6;
  border-radius: 5px;
  transition: all 0.6s;
  animation: showFilters 0.6s;
}

.unchecked {
  cursor: pointer;
}

.checked {
  cursor: pointer;
  --sds-c-icon-color-foreground-default: #43A09D;
}

@keyframes showFilters {
  0% {
    top: 100vh;
  }
}

.iconClass {
  --sds-c-icon-color-foreground-default: #fff;
}

.iconClassBlack {
  --sds-c-icon-color-foreground-default: #666;
}

.activeFilter {
  background: rgb(40, 57, 126);
  color: white;
}

.morefiltersModalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 5;
  opacity: 0.5;
  transition: all 0.6s;
  animation: opacityGain 0.6s;
}

@keyframes opacityGain {
  0% {
    opacity: 0;
  }
}

.modalheader {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.modalBody {
  /* overflow-y: auto; */
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  /* max-height: calc(100vh - 20vh - 150px); */
}

.block1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block {
  display: flex;
  flex-wrap: wrap;

}

.modalFooter {
  display: flex;
  justify-content: right;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.modalFooter p {
  padding: 10px 15px;
  width: max-content;
  font-weight: bold;
  margin: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.columnWidth {
  /* width: calc(100% / 8);
  min-width: calc(100% / 8); */
  /* width: 300px;
  min-width: 300px; */
  overflow: hidden;
  justify-content: center;
}

.dateFromModalFilter,
.dateToModalFilter,
.Departments {
  --sds-c-input-placeholder-fontWeight: bold;
  --sds-c-input-color-border: rgba(45, 81, 79, 0.5);
  --lwc-borderWidthThin: 2px;
  width: calc(100% / 3);
  min-width: 300px;
  padding: 0px 7px;
  margin: -12px 0px 10px;
  font-weight: bold;
  box-shadow: none;
}

.dateFromModalFilter::placeholder,
.dateToModalFilter::placeholder,
.Departments::placeholder {
  font-weight: bold;
}

.DateFromModalOutside,
.DateToModalOutside {
  --sds-c-input-radius-border: 5px;
  --sds-c-input-color-border: transparent;
  --lwc-borderWidthThin: 0px;
  width: 100%;
  max-width: 206px;
  padding: 0px 7px;
  margin: -12px 15px 0px;
  --sds-c-input-color-background: transparent;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.1;
  z-index: 100000;
}

.grid-container {
  position: absolute;
  left: calc(50%);
  top: calc(50vh);
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto auto;
  height: 120px;
  aspect-ratio: 1;
  z-index: 100001;
}

.cube {
  background-color: #549BA5;
}

.cube7 {
  animation: 0.8s pulse infinite ease-in-out;
}

.cube4,
.cube8 {
  animation: 0.8s pulse 150ms infinite ease-in-out;
}

.cube1,
.cube5,
.cube9 {
  animation: 0.8s pulse 300ms infinite ease-in-out;
}

.cube2,
.cube6 {
  animation: 0.8s pulse 450ms infinite ease-in-out;
}

.cube3 {
  animation: 0.8s pulse 600ms infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.optval:hover {
  background-color: rgb(216, 216, 216);
}

.combobox input::placeholder {
  font-weight: bold;
}

.imgText {
  padding: 0px 5px;
}

.imgText h1 {
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #888;
}

.imgText p {
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000;
}


.BestMatchCombobox {
  width: 200px;
  --sds-c-icon-color-foreground-default: white;
  color: white;
  --lwc-colorTextPlaceholder: #fff;
  font-size: 25px;
  margin-top: -21px;
  --lwc-borderWidthThin: 0px;
  --sds-c-input-color-background: transparent;
  --sds-c-input-color-border: transparent;
}

.currentRecordsType {
  font-family: 'MontserratLight';
  color: white;
  padding: 10px 0px 0px 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.mustHave {
  background: linear-gradient(to right, rgba(0, 102, 27, 1), rgb(70, 163, 157));

}

.keyMatches {
  background: linear-gradient(to right, rgba(159, 158, 0, 1), rgb(70, 163, 157));
}

.remainingRecords {
  background: linear-gradient(to right, rgb(40, 57, 126), rgb(70, 163, 157));
}

.bestMatchFilter {
  background: transparent;
  border-radius: 20px;
  cursor: pointer;
  padding-left: 10px;
  font-size: 10px;
  padding-top: 2px;
  color: white;
  font-family: 'MontserratLight';
  box-shadow: none;
  font-weight: bold;
}

.bestMatchFilter::placeholder {
  color: white;
  font-weight: 200;
  font-family: 'MontserratLight';
}

.jobListInput::placeholder {
  color: black;
  font-weight: bold;
}

.moreFilterOptions {
  background: white;
}

/* inputBar::placeholder {
  font-weight: bold;
} */


.NoCandidateSelected {
  font-family: 'RobotoLight';
  font-size: 20px;
  margin-top: 100px;
  color: #549BA5;
  font-weight: bold;
}

.modalFilterCover {
  padding: 0px 7px;
  margin: 8px 0px;
  position: relative;
  width: calc(100% / 3);
  min-width: 300px;
}

.cmbOptions {
  position: absolute;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
  display: none;
  width: 100%;
  max-width: 192px;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 2px;
  padding: 10px;
}





















@media screen and (max-width: 1000px) {
  .tabs {
    display: none;
    position: absolute;
    width: 96%;
    margin-top: 50px;
    opacity: 1;
    left: 2%;
    background: white;
    z-index: 100000;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 0px;
    animation: visible 0.3s;
    justify-content: left;
  }

  .tabs div {
    padding: 0px 20px;
    width: 45%;
  }

  .bars {
    display: block;
  }

  .morefiltersModal {
    left: 5%;
  }
}

@media screen and (max-width: 800px) {
  .userList {
    width: 45%;
  }

  .childScreen {
    width: 55%;
  }

  .container1 {
    flex-direction: column;
    padding: 0;
  }

  .basicInfo,
  .education {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding: 0;
  }

  .userList {
    width: 100%;
    height: calc(100vh - 471px);
  }

  .childScreen {
    position: absolute;
    top: 68px;
    left: 0;
    z-index: 1000;
    display: none;
    padding: 0px;
    overflow: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    /* height: calc(100vh - 188px); */
  }

  .mainBody {
    height: calc(100vh - 70px);
    overflow: hidden;
    padding: 0;
  }

  .headertwoComboBox {
    margin-top: 5px;
  }

  .combobox {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 0px;
    width: calc(100% - 160px);
    /* box-shadow: -5px 0px 5px 2px rgb(0 0 0 / 10%) inset; */
  }

  .combobox::-webkit-scrollbar {
    display: none;
  }

  .moreFilterBtn {
    padding: 0;
    margin: 0;
    margin-right: 10px;
  }

  .ClearBtn {
    padding: 0;
    margin: 0;
    margin-right: 10px;
  }

  .jobListInput {
    font-size: 16px;
    padding: 0px;
    padding-left: 7px;
    width: 85%;
  }

  .bestMatchHeader {
    border-radius: 20px 20px 0px 0px;
  }

  .conList {
    overflow-y: auto;
    height: calc(100vh - 300px);
  }

  .modalBody {
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
  }

  .modalFilterCover {
    position: relative;
    width: 100%;
    min-width: auto;
  }

  .dateFromModalFilter,
  .dateToModalFilter,
  .Departments {
    width: 100%;
    min-width: auto;
  }

  .cmbOptions {
    width: 80%;
    left: 2%;
    max-width: none;
  }


}