.likeContainer{
    background: #F5FAF9;
border-radius: 20px;
height: 300px;
width: 300px;
}
.progress{
    /* background-color: rgb(192, 192, 192); */
    background: #FFFFFF;
	height: 20px;
	width: 15s0px;

}