.mainBody {
	width: auto;
	height: fit-content;
	background: #eef6f5;
	border-radius: 25px;
	border-bottom: 3px solid lightgray;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.mainchildbody {
	background: green;
	height: 141px;
}

.applicantspill {
	font-family: arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	align-items: center;
	text-align: center;
	margin-left: 7px;
}

.applicantspillSec {
	background-color: yellow;
	font-family: arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

th {
	font-size: 10px;
	color: #b6c3c2;
	padding-right: 35px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.headertwoComboBox {
	display: flex;
	justify-content: space-between;
}

.leftIcon {
	display: flex;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.fontChange {

	font-style: normal;

	font-size: 25px;
	color: #2D514F;
	font-family: Inter, sans-serif;
	font-weight: bold;
	color: rgb(57, 91, 89);
}

.combobox {
	display: flex;

	padding: 20px;
	padding-left: 0px;

}

.my-icon {
	--sds-c-icon-color-foreground-default: green;
	--sds-c-icon-color-background: #c9f8f1;
}

.my-cystom-input {
	--sds-c-input-radius-border: 20px;
	--lwc-borderWidthThin: 3px;
	--sds-c-input-color-border: #549BA5;
	--lwc-colorTextPlaceholder: #2D514F;
	--slds-c-icon-color-foreground-default: #549BA5;


	/* --sds-c-input-border: 2px solid #5FA19C; */

}

.my-custom-Combobox {

	--lwc-borderWidthThin: 3px;
	--sds-c-input-color-border: #549BA5;
	--lwc-colorTextPlaceholder: #2D514F;
	--sds-c-input-radius-border: 20px;
	--lwc-borderWidthThin: 3px;
	--lwc-heightInput: 2rem;
	--lwc-colorTextInputIcon: #549BA5;

}



/* ---------Mobile Css ---------------- */
.mobile-search {
	display: none;
}

.mySearch.mobile-search {
	display: block;
}

.mobile-analytics-btns {
	display: none;
	justify-content: space-between;
}

.mobile-icos {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%
}

.mobile-comobobox-jobs {
	width: 70%;
}

.mobile-job-dropdown,
.mobile-job-dropdown2 {
	padding: 15px 0;
}
.mobile-job-dropdown .slds-size_1-of-4 {
	display: block;
}
.mobile-job-dropdown .slds-size_3-of-4 {
	display: block;
	/* width: 100%; */
}





/* @media screen and (max-width: 1099px) {
  .SmallPage{
    display:block;
  }
  .largePage{
    display:none;
  }
} */

@media(max-width: 768px) {
	.mobile-search {
		display: block;
	}

	.mobile-analytics-btns {
		display: flex;
	}

	.mobile-icos {
		display: none;
	}

	.mobile-comobobox-jobs {
		width: 100%;
	}

	.mySearch.mobile-search {
		display: none;
	}
	.mobile-job-dropdown {
		padding: 0;
	}
	.mobile-job-dropdown .slds-size_1-of-4 {
		width: 100% !important;
		display: none;
	}
	.mobile-job-dropdown .slds-size_3-of-4 {
		display: none;
		width: 100%;
	}
	.mobile-job-dropdown2 .slds-size_1-of-4 {
		width: 100% !important;
	}
}