*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Iss-icomoon";
  src: url("../fonts/Iss-icomoon.eot?3afsw2");
  src: url("../fonts/Iss-icomoon.eot?3afsw2#iefix") format("embedded-opentype"), url("../fonts/Iss-icomoon.ttf?3afsw2") format("truetype"), url("../fonts/Iss-icomoon.woff?3afsw2") format("woff"), url("../fonts/Iss-icomoon.svg?3afsw2#Iss-icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Iss-icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-long-solid:before {
  content: "\e904";
}

.icon-ic-chat .path1:before {
  content: "\e907";
  color: rgb(40, 57, 126);
}

.icon-ic-chat .path2:before {
  content: "\e908";
  margin-left: -1.0380859375em;
  color: rgb(70, 163, 157);
}

.icon-Group-789:before {
  content: "\e900";
  color: #fff;
}

.icon-caret-down-solid:before {
  content: "\e901";
}

.icon-play-solid1:before {
  content: "\e902";
}

.icon-arrow-right-solid:before {
  content: "\e903";
}

.icon-ic-search:before {
  content: "\e905";
  color: #549ba5;
}

.icon-ic-dot-menu:before {
  content: "\e906";
  color: #549ba5;
}

.icon-bell .path1:before {
  content: "\e90b";
  color: rgb(70, 163, 157);
}

.icon-bell .path2:before {
  content: "\e90c";
  margin-left: -0.962890625em;
  color: rgb(40, 57, 126);
}

.icon-bell .path3:before {
  content: "\e90d";
  margin-left: -0.962890625em;
  color: rgb(70, 163, 157);
}

.icon-bell .path4:before {
  content: "\e90e";
  margin-left: -0.962890625em;
  color: rgb(70, 163, 157);
}

.icon-ic-badge .path1:before {
  content: "\e90f";
  color: rgb(121, 46, 120);
}

.icon-ic-badge .path2:before {
  content: "\e910";
  margin-left: -1.0380859375em;
  color: rgb(121, 46, 120);
}

.icon-ic-badge .path3:before {
  content: "\e911";
  margin-left: -1.0380859375em;
  color: rgb(93, 197, 191);
}

.icon-ic-badge .path4:before {
  content: "\e912";
  margin-left: -1.0380859375em;
  color: rgb(250, 220, 51);
}

.icon-ic-badge1:before {
  content: "\e913";
  color: #fff;
}

.icon-star-solid:before {
  content: "\e914";
}

.icon-chevron-down-solid:before {
  content: "\e915";
}

.icon-chevron-down-regular:before {
  content: "\e916";
}

.icon-ellipsis-solid:before {
  content: "\e917";
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}
.iss-wrapper article,
.iss-wrapper aside,
.iss-wrapper figcaption,
.iss-wrapper figure,
.iss-wrapper footer,
.iss-wrapper header,
.iss-wrapper hgroup,
.iss-wrapper main,
.iss-wrapper nav,
.iss-wrapper section {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2D514F;
  text-align: left;
  background-color: #F5F5F5;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.iss-container {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 15px;
}

.iss-wrapper {
  position: relative;
  overflow: hidden;
}
.iss-wrapper a {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.iss-wrapper h1,
.iss-wrapper h2,
.iss-wrapper h3 {
  margin: 0 0 20px;
}

.iss-main {
  padding: 32px 0;
}

.iss-header {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 4px 0;
}
.iss-header .iss-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.iss-logo {
  width: 185px;
}
.iss-logo img {
  display: block;
  width: 100%;
  height: auto;
}

.header-left-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iss-nav {
  padding: 0 0 0 47px;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.iss-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}
.iss-menu li {
  margin-right: 34px;
}
.iss-menu a {
  color: #091132;
}
.iss-menu a:hover {
  color: #549BA5;
}

.header-right-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iss-subnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 6px;
  background: #F4F5F5;
  border-radius: 20px;
  margin-left: 36px;
}
.iss-subnav li {
  padding: 0 9px;
}
.iss-subnav li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.iss-subnav li:first-child img {
  margin-bottom: 0;
  display: block;
}
.iss-subnav .text-wrap .text {
  display: block;
  text-align: right;
  font-size: 12px;
  line-height: 15px;
  color: rgba(45, 81, 79, 0.5);
}
.iss-subnav .icon-ic-dot-menu {
  font-size: 25px;
  line-height: 1;
}
.iss-subnav .icon-ic-dot-menu:hover:before {
  color: #2D514F;
}
.iss-subnav .user_name_box {
  height: 42px;
  width: 42px;
  border-radius: 100%;
  border: 5px solid #ddecea;
  margin-left: 6px;
  position: relative;
  margin-right: 14px;
}
.iss-subnav .user_name_box:before {
  position: absolute;
  right: -19px;
  top: 3px;
  font-family: "Iss-icomoon" !important;
  content: "\e901";
  color: #122059;
}
.iss-subnav .user_name_box .name_box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  background: #549BA5;
  color: #fff;
  font-size: 15px;
  line-height: 1;
  border-radius: 100%;
}

.iss-notifications {
  font-size: 30px;
  line-height: 1;
}
.iss-notifications a .icon-bell span:before {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.iss-notifications a:hover .icon-bell span:before {
  color: #2D514F;
}

.iss-inbox {
  margin-left: 26px;
  font-size: 26px;
  line-height: 1;
  position: relative;
}
.iss-inbox .count-box {
  position: absolute;
  right: -2px;
  top: -2px;
  border-radius: 3px;
  text-align: center;
  width: 13px;
  height: 13px;
  font-size: 9px;
  font-weight: 700;
  line-height: 13px;
  color: #fff;
  background: #28397e;
}
.iss-inbox .icon-ic-chat span:before {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.iss-inbox:hover .icon-ic-chat span:before {
  color: #2D514F;
}

.iss-two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.iss-sidebar {
  width: 31%;
  padding-left: 55px;
}

.iss-content-area {
  width: 69%;
}

.iss-search-box {
  position: relative;
  border: 2px solid #96a8a7;
  border-radius: 20px;
  margin: 0 0 22px;
}
.iss-search-box input[type=search] {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 17px;
  font-weight: 400;
  outline: none;
}
.iss-search-box .submit-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 55px;
  font-size: 28px;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  display: block;
  padding: 0;
  background: none;
  border: none;
}

.iss-blocks-row {
  position: relative;
}
.iss-blocks-row .iss-blocks-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10px;
}
.iss-blocks-row .iss-blocks-head .more {
  color: #549BA5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  margin-right: 15px;
}
.iss-blocks-row .iss-blocks-head .more:hover {
  color: #2D514F;
}
.iss-blocks-row .iss-blocks-head .more i {
  margin-left: 6px;
}
.iss-blocks-row h1 {
  margin: 0;
  font-size: 25px;
  line-height: 29px;
  font-weight: 600;
  color: #549BA5;
}

.iss-block {
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 15px rgba(84, 155, 165, 0.15);
          box-shadow: 0px 10px 15px rgba(84, 155, 165, 0.15);
}
.iss-block .image {
  position: relative;
}
.iss-block .image img {
  display: block;
  width: 100%;
  height: auto;
}
.iss-block .duration_count {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  padding: 0 11px;
  text-align: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
.iss-block .live-date {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  padding: 0 11px;
  text-align: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
.iss-block .actions_links {
  position: absolute;
  right: 15px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.iss-block .actions_links a {
  color: #fff;
}
.iss-block .progress_bar {
  position: relative;
  background: #d9d9d9;
  height: 6px;
  margin-top: -4px;
}
.iss-block .progress_bar div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fadc33;
}
.iss-block .description {
  padding: 8px 16px 9px;
  background: #fff;
}
.iss-block .description h2 {
  margin: 0 0 4px;
  font-size: 16px;
  line-height: 20px;
}
.iss-block .description h2 a {
  color: #2D514F;
}
.iss-block .description h2 a:hover {
  color: #549BA5;
}
.iss-block .price {
  color: #28397E;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  float: right;
}
.iss-block .points_count {
  font-size: 14px;
  line-height: 17px;
}
.iss-block .iss-blocks_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 4px;
}
.iss-block .iss-blocks_tags li {
  margin-right: 8px;
}
.iss-block .iss-blocks_tags a {
  display: block;
  background: #f4f5f5;
  padding: 2px 6px;
  border-radius: 3px;
}

.slick-slider {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0 0 30px;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
  padding: 0 8px;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow {
  position: absolute;
  left: -23px;
  background: none;
  padding: 0;
  border: none;
  top: 50%;
  cursor: pointer;
  z-index: 5;
  outline: none;
  color: #549BA5;
  font-size: 16px;
  line-height: 1;
  margin-top: -34px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.slick-arrow:hover {
  color: #091132;
}
.slick-arrow .icon-chevron-down-solid {
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.slick-arrow.slick-next {
  left: auto;
  right: -23px;
}
.slick-arrow.slick-next .icon-chevron-down-solid {
  display: block;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.slick-arrow.slick-hidden {
  display: none;
}

.iss-sidebar h2 {
  font-size: 25px;
  line-height: 28px;
  font-weight: 600;
  color: #549BA5;
  margin: 0 0 20px;
}
.iss-sidebar .h2 {
  padding-left: 7px;
}

.iss-topics-blocks {
  margin: 0 0 30px;
}

.iss-topics-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 16px;
}
.iss-topics-block .image {
  width: 126px;
}
.iss-topics-block .image img {
  display: block;
  width: 100%;
  height: auto;
}
.iss-topics-block .description {
  padding: 16px 19px 19px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  font-size: 14px;
  line-height: 15px;
  color: rgba(45, 81, 79, 0.5);
}
.iss-topics-block .description .title {
  display: block;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  margin: 0 0 7px;
}
.iss-topics-block .description p {
  margin: 0;
}
.iss-topics-block .description .more {
  float: right;
  color: #549BA5;
  font-weight: 700;
}
.iss-topics-block .description .more:hover {
  color: #091132;
}

.iss-badges-block {
  background: #fff;
  border-radius: 20px;
  padding: 17px 15px;
  margin: 0 0 26px;
}
.iss-badges-block .link {
  text-align: center;
  display: block;
}
.iss-badges-block .link i {
  font-size: 12px;
}
.iss-badges-block .link a {
  color: #549BA5;
}
.iss-badges-block .link a:hover {
  color: #2D514F;
}

.iss-badges-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -13px 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.iss-badges-list li {
  padding: 0 13px;
  text-align: center;
}
.iss-badges-list .title {
  color: #2D514F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  display: block;
  margin: 0 0 4px;
}
.iss-badges-list .text {
  display: block;
  font-size: 11px;
  line-height: 13px;
  color: #2D514F;
}
.iss-badges-list .ico {
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background: #f4f5f5;
  font-size: 25px;
  line-height: 1;
  margin-bottom: 5px;
}

.iss-fav-block h2 {
  margin: 0 0 13px;
  color: #2D514F;
}
.iss-fav-block .link {
  text-align: center;
  display: block;
}
.iss-fav-block .link i {
  font-size: 12px;
}
.iss-fav-block .link a {
  color: #549BA5;
}
.iss-fav-block .link a:hover {
  color: #2D514F;
}

.iss-fav-list {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.iss-fav-list li {
  margin: 0 0 16px;
}
.iss-fav-list a {
  color: #549BA5;
  display: block;
  padding: 15px 17px;
  background: #fff;
  border-radius: 20px;
  position: relative;
}
.iss-fav-list a:before {
  position: absolute;
  right: 16px;
  top: 14px;
  font-size: 20px;
  line-height: 1;
  font-family: "Iss-icomoon" !important;
  content: "\e917";
  font-weight: 400;
}

.iss-search-blocks {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.iss-search-block {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin-bottom: 30px;
  width: 49%;
  -webkit-box-shadow: 0px 10px 15px rgba(84, 155, 165, 0.15);
          box-shadow: 0px 10px 15px rgba(84, 155, 165, 0.15);
}
.iss-search-block .image {
  position: relative;
  width: 214px;
}
.iss-search-block .image img {
  display: block;
  width: 100%;
  height: auto;
}
.iss-search-block .description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  padding: 14px 35px 10px;
  font-size: 16px;
  line-height: 19px;
  position: relative;
}
.iss-search-block .description p {
  margin: 0 0 10px;
}
.iss-search-block .iss-fav {
  position: absolute;
  right: 15px;
  top: -2px;
  color: #549BA5;
  font-size: 12px;
}
.iss-search-block .iss-fav a {
  color: #549BA5;
}
.iss-search-block .title {
  display: block;
  margin: 0 0 12px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: rgba(45, 81, 79, 0.5);
}
.iss-search-block h2 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #2D514F;
  margin: 0 0 10px;
}
.iss-search-block h2 a {
  color: #2D514F;
}
.iss-search-block h2 a:hover {
  color: #549BA5;
}
.iss-search-block .price {
  color: #28397E;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  float: right;
  margin-top: -24px;
}
.iss-search-block .points_count {
  font-size: 14px;
  line-height: 17px;
}
.iss-search-block .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.iss-search-block .iss-blocks_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 4px;
}
.iss-search-block .iss-blocks_tags li {
  margin-right: 8px;
}
.iss-search-block .iss-blocks_tags a {
  display: block;
  background: #f4f5f5;
  padding: 2px 6px;
  border-radius: 3px;
}
.iss-search-block .duration_count {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  padding: 0 11px;
  text-align: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
.iss-search-block .live-date {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  padding: 0 11px;
  text-align: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
.iss-search-block .pts-text {
  margin-right: 26px;
  font-size: 14px;
}

.iss-search-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 14px;
}
.iss-search-head h1 {
  margin: 0;
  font-size: 25px;
  line-height: 29px;
  font-weight: 600;
  color: #549BA5;
}
.iss-search-head .iss-search_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.iss-search-head .iss-search-filter,
.iss-search-head .iss-filter-list,
.iss-search-head .iss-search-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.iss-search-head .iss-search-sort .title {
  font-weight: 400;
  padding-right: 20px;
}
.iss-search-head .search-sort-box .icon-caret-down-solid {
  display: inline-block;
  margin-right: 2px;
}
.iss-search-head .iss-search-filter .title {
  font-weight: 400;
}
.iss-search-head .iss-filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 0 10px;
}
.iss-search-head .iss-filter-list li {
  margin-right: 14px;
}
.iss-search-head .iss-filter-list a {
  display: block;
  background: #fff;
  padding: 2px 7px;
  border-radius: 3px;
}
.iss-search-head .iss-search-sort {
  margin-left: 22px;
}

.iss-search-res-area {
  margin: -5px 0 0;
}

.fakeHref{
      border: none;
      background: white;
      color: blue;
}